* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: red;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.container li {
  list-style: none;
  height: 30px;
  width: 30px;
  border: 1px solid white;
  border-radius: 50%;
}

.container li:hover {
  background-color: turquoise;
}

.container a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  text-decoration: none;
}